.countdownContainer{
  display: flex;
  align-items: center; 
  font-family: Rajdhani;
  font-weight: 600;
  color: var(--title)
}
.countdownContainer > div{
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: var(--white);
  box-shadow: 0 0 60px rgba(0,0,0,0.05);
  font-size: 8.5rem;
  text-align: center;
  border-radius: 5px;
}
.countdownContainer > div span{
  flex: 1;
}
.countdownContainer > div span:first-child{
  border-right: 1px solid #f0f1f3;
}
.countdownContainer > div span:last-child{
  border-left: 1px solid #f0f1f3;
  min-width: 60px;
}
.countdownContainer > span{
  font-size: 6.25rem;
  margin: 0 0.5rem;
}
.countdownButton{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 5rem;

  margin-top: 2rem;

  background-color: var(--blue);
  color: var(--white);

  transition: background-color 200ms;

  border: 0;
  border-radius: 5px;
  
  font-size: 1.25rem;
  font-weight: 600;
}
.countdownButton:not(:disabled):hover{
  background-color: var(--blue-dark);
}
.countdownButton:disabled{
  background-color: var(--white);
  color: var(--text);
  cursor: not-allowed;

  padding-top: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.countdownButton:disabled > span{
  display: flex;
  align-items: center; 
}
.countdownButton:disabled > span img{
  margin-left: .5rem;
}
.countdownButton:disabled > span:last-child{
  height: 3px;
  width: 100%;

  background-color: var(--green);
}
.countdownButtonActive{
  background: var(--white);
  color: var(--title);

  transition: background-color 200ms;
}
.countdownButtonActive:not(:disabled):hover{
  background: var(--red);
  color: var(--white);
}